.login-layout {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 100%;
  justify-content: center;
  background-color: black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .invalid-feedback,
.form-signin .form-label {
  display: block;
  text-align: left;
}
